/*==========================
  main Sass: import partials

==========================*/
/*==========================
  mixins + global project variables

==========================*/
/*variables
==========================*/
/*Mixins
==========================*/
/*==========================
  [keyframe] animation

==========================*/
@-webkit-keyframes bgMove {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@-moz-keyframes bgMove {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@-ms-keyframes bgMove {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes bgMove {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
/*==========================
  SVG styling

==========================*/
svg {
  display: block;
  position: absolute;
  overflow: hidden; }

.submarine .cls-1,
.submarine .cls-16,
.submarine .cls-6 {
  fill: #dbf902; }
.submarine .cls-15,
.submarine .cls-2,
.submarine .cls-8 {
  fill: #f51; }
.submarine .cls-3,
.submarine .cls-9 {
  fill: #d6e9ff; }
.submarine .cls-11,
.submarine .cls-12,
.submarine .cls-14,
.submarine .cls-15,
.submarine .cls-16,
.submarine .cls-3,
.submarine .cls-5,
.submarine .cls-6,
.submarine .cls-7,
.submarine .cls-8 {
  stroke: #393434;
  stroke-miterlimit: 10; }
.submarine .cls-16,
.submarine .cls-3,
.submarine .cls-7 {
  stroke-width: 4px; }
.submarine .cls-4 {
  fill: #393434; }
.submarine .cls-11,
.submarine .cls-14,
.submarine .cls-17,
.submarine .cls-5,
.submarine .cls-7 {
  fill: none; }
.submarine .cls-12,
.submarine .cls-5,
.submarine .cls-6,
.submarine .cls-8 {
  stroke-width: 8px; }
.submarine .cls-10 {
  fill: #fff; }
.submarine .cls-11 {
  stroke-width: 6px; }
.submarine .cls-12,
.submarine .cls-13 {
  fill: #f1fd9a; }
.submarine .cls-14,
.submarine .cls-15 {
  stroke-width: 5px; }

.fish .cls-1 {
  fill: #dbf903; }
.fish .cls-2,
.fish .cls-7 {
  fill: none;
  stroke-width: 4px; }
.fish .cls-2 {
  stroke: #c29533; }
.fish .cls-2,
.fish .cls-3,
.fish .cls-7 {
  stroke-miterlimit: 10; }
.fish .cls-3,
.fish .cls-5 {
  fill: #fff; }
.fish .cls-3,
.fish .cls-7 {
  stroke: #8a2424; }
.fish .cls-3 {
  stroke-width: 2px; }
.fish .cls-4 {
  fill: #393434; }
.fish .cls-6 {
  fill: #8a2424; }

.waves .cls-1 {
  fill: #7aceef; }

.bottom .cls-1 {
  fill: #036962; }
.bottom .cls-2 {
  fill: #048c82; }
.bottom .cls-3 {
  fill: none;
  stroke: #036962;
  stroke-miterlimit: 10;
  stroke-width: 4px; }
.bottom .cls-4 {
  fill: #9c6f13; }
.bottom .cls-5 {
  fill: #7d4217; }
.bottom .cls-6 {
  fill: #036d8e; }

/*==========================
  layout of project elements

==========================*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background-color: #00adef; }

.scene {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 133.33333vh; }

.waves {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .waves.waves-1 {
    margin: 2px;
    left: -200%; }
  .waves.waves-2 {
    margin: 1px;
    left: -100%; }
  .waves.waves-3 {
    margin: -1px;
    left: 100%; }
  .waves.waves-4 {
    margin: -2px;
    left: 200%; }

.bottom {
  bottom: -2px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 16.97135%; }
  .bottom.bottom-1 {
    margin: 2px;
    left: -200%; }
  .bottom.bottom-2 {
    margin: 1px;
    left: -100%; }
  .bottom.bottom-3 {
    margin: -1px;
    left: 100%; }
  .bottom.bottom-4 {
    margin: -2px;
    left: 200%; }

.submarine {
  left: 0;
  top: 24%;
  z-index: 2;
  width: 50.39063%;
  height: 54.0599%; }

.fish {
  left: 70%;
  top: 50%;
  z-index: 3;
  width: 12.40234%;
  height: 11.04427%; }

/*Media Queries
==========================================*/
@media (max-aspect-ratio: 4 / 3) {
  body {
    background-color: #036d8e; }

  .scene {
    width: 100%;
    height: 75vw;
    background-color: #00adef; } }
/*==========================
  SVG styling

==========================*/
svg {
  display: block;
  position: absolute;
  overflow: hidden; }

.submarine .cls-1,
.submarine .cls-16,
.submarine .cls-6 {
  fill: #dbf902; }
.submarine .cls-15,
.submarine .cls-2,
.submarine .cls-8 {
  fill: #f51; }
.submarine .cls-3,
.submarine .cls-9 {
  fill: #d6e9ff; }
.submarine .cls-11,
.submarine .cls-12,
.submarine .cls-14,
.submarine .cls-15,
.submarine .cls-16,
.submarine .cls-3,
.submarine .cls-5,
.submarine .cls-6,
.submarine .cls-7,
.submarine .cls-8 {
  stroke: #393434;
  stroke-miterlimit: 10; }
.submarine .cls-16,
.submarine .cls-3,
.submarine .cls-7 {
  stroke-width: 4px; }
.submarine .cls-4 {
  fill: #393434; }
.submarine .cls-11,
.submarine .cls-14,
.submarine .cls-17,
.submarine .cls-5,
.submarine .cls-7 {
  fill: none; }
.submarine .cls-12,
.submarine .cls-5,
.submarine .cls-6,
.submarine .cls-8 {
  stroke-width: 8px; }
.submarine .cls-10 {
  fill: #fff; }
.submarine .cls-11 {
  stroke-width: 6px; }
.submarine .cls-12,
.submarine .cls-13 {
  fill: #f1fd9a; }
.submarine .cls-14,
.submarine .cls-15 {
  stroke-width: 5px; }

.fish .cls-1 {
  fill: #dbf903; }
.fish .cls-2,
.fish .cls-7 {
  fill: none;
  stroke-width: 4px; }
.fish .cls-2 {
  stroke: #c29533; }
.fish .cls-2,
.fish .cls-3,
.fish .cls-7 {
  stroke-miterlimit: 10; }
.fish .cls-3,
.fish .cls-5 {
  fill: #fff; }
.fish .cls-3,
.fish .cls-7 {
  stroke: #8a2424; }
.fish .cls-3 {
  stroke-width: 2px; }
.fish .cls-4 {
  fill: #393434; }
.fish .cls-6 {
  fill: #8a2424; }

.waves .cls-1 {
  fill: #7aceef; }

.bottom .cls-1 {
  fill: #036962; }
.bottom .cls-2 {
  fill: #048c82; }
.bottom .cls-3 {
  fill: none;
  stroke: #036962;
  stroke-miterlimit: 10;
  stroke-width: 4px; }
.bottom .cls-4 {
  fill: #9c6f13; }
.bottom .cls-5 {
  fill: #7d4217; }
.bottom .cls-6 {
  fill: #036d8e; }

/*==========================
  Animations

==========================*/
.cssanimations .waves {
  -webkit-animation: bgMove 30s linear infinite;
  -moz-animation: bgMove 30s linear infinite;
  -ms-animation: bgMove 30s linear infinite;
  -o-animation: bgMove 30s linear infinite;
  animation: bgMove 30s linear infinite; }
.cssanimations .bottom {
  -webkit-animation: bgMove 30s linear infinite;
  -moz-animation: bgMove 30s linear infinite;
  -ms-animation: bgMove 30s linear infinite;
  -o-animation: bgMove 30s linear infinite;
  animation: bgMove 30s linear infinite; }

/*# sourceMappingURL=main.css.map */
